.root {
    -fx-background-color: linear-gradient(to top, #2B1E54, #EB5860);
}
#lowerPane {
-fx-background-color: transparent;
}
#rootPane {
-fx-background-color: transparent;
}
#pushLabel {
-fx-text-fill: white;
}
#subtitleLabel {
-fx-text-fill: white;
}